  <!DOCTYPE html>
  <html>

  <head>
    <script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src=../static/js/recipes.js></script>
    <title>Test</title>
  </head>
  <body>

  <div>
    Search for a recipe: <input id="query">
    <button id="submit" name="button">SUBMIT</button>

  </div>
  <br><br>

  <div class="result">
    <h2>Search Results</h2>
    <table id="recipes">
      <b>
      <th>Artwork</th>
      <th>Title</th> 
      <th>Artist</th></b>
    </table>

  </div>
  
  </body>
  </html>