{% extends "base.html" %}
{% block content %}
<!-- <div class=container>
  <div class=waterfall>
  </div>
</div> -->
<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/1.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/2.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/3.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/5.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/6.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/7.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/8.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/9.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/10.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/11.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/12.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/13.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/14.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/15.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/16.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/17.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/18.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <a href="javascript:;">
      <img src="../static/img/19.jpg" />
    </a>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default btn-xs" title="thumb up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs pull-right" title="pin">
      <span class="glyphicon glyphicon-pushpin"></span>
    </button>
  </li>
</ul>
{% endblock %}
