{% extends "base.html" %}
{% block content %}
<span id="profilename">{{ name }}</span>

<!-- <section>
  <h5 id="recent_recipes"> Recently saved recipes </h5>
    <div class="recent_recipes">
    </div>
  </section> -->

<section>
  <h5 id="all_recipes"> Saved recipes </h5>
    <div id="list_recipes">
      <table id="saved_recipes">
      {% for recipe in recipes %}
        <tr>
          <td class="title"> {{ recipe[1] }} </td>
          <td id="food_img"> {{ recipe[2] }} </td>
          <td class="recipeLink"> {{ recipe[3] }} </td>
        </tr>
        {% endfor %}
      </table>
    </div>
</section>


{% endblock %}
